@charset "utf-8";
/* CSS Document */
body, div, span,  h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, form, label, input, table, tbody, pre,p,tr, th, td{-webkit-tap-highlight-color:rgba(0,0,0,0);margin: 0;padding: 0;border: 0;outline: 0;font-family:'Microsoft YaHei',Helvetica,STHeiti STXihei; box-sizing: border-box; }
html{ background: #f2f2f2;}
body{font-size: 6.25%;width:100%;}
a,a:active,a:focus{text-decoration:none; color: #515151;}
img{ width: 100%; max-width: 100%;}
ul, ol { list-style: none; }
input{-webkit-appearance: none;}
.fl{ float:left;}
.fr{ float:right;}
.red{ color:#e60012;}
.green{ color: #2bb210;}
.gray{ color: #d0d0d0;}
.main{position: absolute;top: 0;left: 0;right: 0;bottom: 1.2rem; overflow: auto; }
.maxH{ bottom: 0;}
.maxA{ bottom: 0.9rem;}
.btn{ width: 100%; height: 0.90rem; line-height: 0.90rem; color: #fff; font-size: 0.30rem; text-align: center; background:#fe6246; position: fixed; bottom: 0; }
.confirm{ margin: 0.40rem 0.22rem 0.45rem 0.22rem; height: 0.90rem; line-height: 0.90rem; color: #fff; font-size: 0.30rem; text-align: center; background:#fe6246;  border-radius: 10px; display: block;}
.notice{ width: 100%; height: 0.82rem; background: #fff; border-bottom: solid 1px #d8d6d6; text-align: left; font-size: 0.26rem; color: #656565; position: relative; overflow: hidden;}
.notice > span{ width: 0.27rem; height: 0.25rem; position: absolute; left:0.23rem; top:0.28rem; }
.notice .notice_scroll{ margin-left: 0.65rem;}
.notice .notice_scroll li{ height: 0.82rem; line-height: 0.82rem;}
.notice .notice_scroll li a{ color:#656565; }
.firstbid{ margin: 0.1rem auto;}
.regular{ border-bottom: solid 1px #d8d6d6;  background: #fff; display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; align-items:flex-end;padding:0.22rem; }
.regular li > span{ display: block;}
.regular li:nth-child(2) .f3{ color: #454545;}
.regular li .f1{ font-size:0.24rem; color: #454545; margin-bottom: 0.13rem}
.regular li .f2{ font-size:0.2rem; color:#555555; margin-bottom: 0.08rem;}
.regular li .f3{ font-size: 0.56rem; color:#00accd;}
.regular li .f3 > small{ font-size: 0.6em;}
.regular li .f4{ display: block; width: 1.50rem; height: 0.57rem; line-height: 0.57rem; background: #fe6246; color: #fff; text-align: center; font-size: 0.26rem; border-radius: 5px;}
.weixincode{ padding:0.34rem 0; color: #9c9c9c; font-size: 0.22rem; }
.weixincode > span{ display: block;text-align: center; margin-bottom: 0.18rem;}
.purpose{display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-around; margin-top: 0.34rem;}
.purpose li > span:first-child{ display: inline-block; width: 0.40rem; height: 0.42rem; margin-right: 0.08rem; vertical-align: baseline;}
.purpose li:last-child > span:first-child{ width: 0.47rem;}
.purpose li > span:last-child{ display: inline-block; line-height: 1.2;}
.foot{ position: absolute; width: 100%; background: #fff; border-top: solid 1px #d8d6d6; bottom: 0; margin-top: 0.97rem; left: 0; padding: 0.18rem 0; text-align: center;}
.foot ul{display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-around; color:#7b7b7b;}
.foot ul img{ width: 0.48rem; display: block; margin-bottom: 0.06rem;}
.foot ul span{ font-size: 0.18rem;}
.foot ul .btn2{ color: #00accd;}

.total_assets{ width: 100%; height: 2.98rem; background: url("../image/total_assets.jpg") no-repeat; background-size: cover; color: #fff; position: relative;}
.total_assets .icon_set{ width: 0.32rem; height: 0.32rem; position: absolute; right: 0.23rem; top: 0.20rem; background: url("../image/icon_set.png") no-repeat; background-size: cover; text-indent: -9999px; }
.total_assets .assets{ display: block; text-align: center; padding: 0.4rem 0 0 0; font-size: 0.66rem;}
.total_assets .assets > small{ display: block; font-size: 0.33em;}
.total_assets .earnings{display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-around; text-align: center; font-size: 0.2rem; padding-top: 0.3rem;}
.total_assets .earnings li{ padding-top: 0.25rem}
.total_assets .earnings span{ font-size: 0.3rem;}
.triangle{ background: #fff; border-bottom: solid 1px #d8d6d6; padding: 0.35rem 0.23rem; }
.triangle_mb{margin-bottom: 0.1rem;}
.triangle >a{ display: block; position: relative; color: #6c6c6c;}
.triangle >a:after{ content: ''; width: 0.18rem; height: 0.18rem; border-top:solid 2px #a6a6a6;border-right:solid 2px #a6a6a6; transform: rotate(45deg); -webkit-transform: rotate(45deg); position: absolute; right: 0; top: 0;}
.triangle >a.style_a:after{ top: 0.20rem;}
.style{ display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; text-align: left; font-size: 0.18rem;}
.style li:last-child{ padding-right:0.24rem; }
.style span{ display: block; color: #00accd; font-size: 0.30rem; line-height: 1.5;}
.guarantee{ font-size: 0.28rem;}
.guarantee span{ width: 0.32rem; height: 0.32rem; display: inline-block; vertical-align: middle; margin: 0 0.25rem 0 0; }
.title{ width: 100%; text-align: center; font-size:0.26rem; color: #6c6c6c; border-bottom: solid 1px #cacbcb; background: #fff; height: 0.68rem; line-height: 0.68rem;}
.more{ color: #cbcbcb; font-size: 0.22rem; text-align: center; background: #efefef; border-radius: 3px; margin: 0.37rem 0.3rem; padding: 0.07rem 0;}

/*个人中心*/
.message{ height: 2.27rem; background: url('../image/total_assets.jpg') no-repeat; background-size: cover; padding: 0.50rem 0.22rem 0 0.22rem;}
.message .header{ width: 1.07rem; height: 1.07rem; border: solid 2px #fff; border-radius: 50%; overflow: hidden; background: #dee2eb; float: left;}
.message .meslist{ margin-left: 1.35rem; padding-top: 0.16rem; color: #fff; font-size: 0.28rem; line-height: 1.5;}
.message .meslist li{ height: 0.45rem; line-height: 0.45rem;}
.person{ border-top:solid 1px #e1e1e1; border-bottom: solid 1px #e1e1e1; padding: 0 0.22rem; background: #fff; margin-bottom: 0.10rem;}
.person li{ height: 0.82rem; line-height: 0.82rem; color: #515151; font-size: 0.26rem; position: relative; border-bottom: solid 1px #e1e1e1;}
.person li:last-child{ border-bottom: none;}
.person li i{ display: inline-block; width: 0.41rem;height: 0.39rem; vertical-align: middle; margin-right: 0.36rem;}
.person li i.ico_set1{ background: url("../image/icon_set1.png") no-repeat; background-size: cover;}
.person li i.ico_set2{ background: url("../image/icon_set2.png") no-repeat; background-size: cover;}
.person li i.ico_set3{ background: url("../image/icon_set3.png") no-repeat; background-size: cover;}
.person li i.ico_set4{ background: url("../image/icon_set4.png") no-repeat; background-size: cover;}
.person li i.ico_set5{ background: url("../image/icon_set5.png") no-repeat; background-size: cover;}
.person li i.ico_set6{ background: url("../image/icon_set6.png") no-repeat; background-size: cover;}
.person li i.ico_set7{ background: url("../image/icon_set7.png") no-repeat; background-size: cover;}
.person li .ico_val{ position: absolute; right: 0; display: block; top: 0;}
.person li .arrow,.login li .arrow{ position: absolute; right: 0; top: 0.30rem; width: 0.15rem; height: 0.15rem; border-top: solid 1px #bababa; border-right: solid 1px #bababa; transform: rotate(45deg);}
.person li .ab_arrow{ right: 0.40rem;}

/*银行卡信息*/
.login{ background: #fff; margin-bottom: 0.10rem; border-top: solid 1px #e1e1e1;}
.login li{ height: 0.82rem; line-height: 0.82rem; color: #515151; font-size: 0.26rem; position: relative; border-bottom: solid 1px #e1e1e1; padding: 0 0.22rem; }
.login li span:first-child{ width: 1.95rem; display: inline-block;}
.login li .arrow{ right: 0.40rem;}
.tips{ font-size: 0.26rem; color: #929292; line-height: 1.8; padding: 0 0.22rem;}


